<h2>@Model.CurrentCategory</h2>

<div class="row mt-0 -5 mb-0 -2">
    @{
        foreach (Car car in Model.AllCars)
        {
            @await Html.PartialAsync("AllCars", car);
        }
    }
</div>
