################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/bin/Debug/net5.0
/Test/obj
/.vs/car-shop/v17
/.vs/Test/customized-groupid-color-15146f07-d8dd-40a1-8b10-dd4ba62587cb.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Test/v17
/.vs/Test/config/applicationhost.config
/.vs/Test/DesignTimeBuild/.dtbcache.v2
