@model HomeViewModel

<h2>Лучшие автомобили</h2>

<div class="row mt-0 -5 mb-0 -2">
    @{
        foreach (Car car in Model.favoriteCars)
        {
            @await Html.PartialAsync("AllCars", car);
        }
    }
</div>