@model ShopCartViewModel

<div>
    @foreach(var element in Model.ListShopCarItem)
    {
        <div class ="alert alert-warning mt-3">
            <b>Автомобиль:</b>@element.Car.Name<br/>
            <b>Цена:</b>@element.Car.Price.ToString("c")<br/>
            <b><a class="btn btn-warning" href="~/ShopCart/DeleteCartItem/@element.Id">Удалить</a></b>
        </div>
    }
    <hr/>
    <a class ="btn btn-danger" asp-controller ="Order" asp-action="CheckOut">Заказать</a>
</div>