@model ShopCartViewModel

<div>
    @foreach(var element in Model.shopCart.listShopCarItem)
    {
        <div class ="alert alert-warning mt-3">
            <b>Автомобиль:</b>@element.car.name<br/>
            <b>Цена:</b>@element.car.price.ToString("c")
        </div>
    }
    <hr/>
    <a class ="btn btn-danger" asp-controller ="Order" asp-action="CheckOut">Оплатить</a>
</div>